/* 컨테이너 스타일 */
.total-amount-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 차트 컨트롤 스타일 */
.chart-controls {
  margin-bottom: 20px;
}

.chart-controls .select-year {
  margin-right: 10px;
}

.chart-controls button {
  margin-left: 10px;
}

/* 차트 래퍼 스타일 */
.chart-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.total-amount {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.total-amount canvas {
  min-width: 397px;
  max-width: 600px;
}